@charset "utf-8";

* {     /*페이지 내 모든 요소 공통 스타일*/
    font-family: 'NanumSquareNeo';      /*글씨 서체(폰트)*/
    box-sizing: border-box;           /*크기는 테두리선까지 적용*/
    margin: 0;      /*모든 여백 제거*/
}

#container {      /*전체 박스*/
    border: 1px solid #000;
    width: 100%;   max-width: 1200px; 
    margin: auto;     /*가운데 맞추기*/
}

#header {      /*헤더 영역*/
    width: 100%;
    height: 400px;
    background-image: url(../images/bgimg02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;    /*배치의 기준으로 지정(헤더를 기준으로 내용 맞추기)*/
} 


#header > h1 {     /*헤더 안 제목*/
    color: #fff; 
    font-size: 4em;
    font-family: 'NanumPen';
    font-weight: normal;

    position: absolute;     /*relative인 헤더를 기준으로 맞추기*/
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

    width: 100%; text-align: center;
} 


/* 내비게이션 영역 스타일----------------------- */
#navi {    /*내비게이션 공간*/
    width: 100%;  height: 50px;
    background-color: #222;
}

#menu {      /*메뉴 리스트 박스 ul*/
    list-style: none;       /*리스트 앞 부호 제거*/
    padding: 0;               /*부호 공간(여백) 제거*/

    display: flex;             /*가로 방향으로 배치*/
    justify-content: center;     /*수평 가운데 맞춤*/
}


.main > a {    /*각 리스트 안의 링크 */
    color: #eee;
    text-decoration: none;
    line-height: 50px;    /*높이 50px 후 가운데 맞춤*/
    padding: 0 1em;      /*안쪽 여백 : 좌우만 1자 분량 만큼*/

    display: block;      /*리스트(li) 공간에 채우기*/

    transition: 0.3s;
}

.main > a:hover {
    background-color: brown;
}

/* 섹션 영역------------------ */
#contents {    /*섹션 영역*/
    background-color: #FCEFCB;
    padding: 0.6em;
}
.sectionTitle {    /*섹션 제목*/
    font-size: 2em;
    color: #A86523;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
.smallTitle {      /*작은 제목*/
    font-size: 1.5em;
    background-color: #555;
    color: #eee;
    padding: 0.4em;
    margin: 1em 0;
    display: inline-block;    /*내용 만큼의 폭 사용*/
    box-shadow: 5px 5px 0 rgba(0,0,0,0.5) ;
}
.text {       /*설명 내용 단락*/
    line-height: 1.6em;
    font-size: 1.1em;
    margin-bottom: 1em;
} 

.listBox {    /*사진,영상 리스트 박스*/
    list-style: none;  padding: 0;
    display: grid;      /*한 줄로 나열하기*/
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.list {           /*각 리스트*/
    border-radius: 10px;
    overflow: hidden;   /*영역 밖의 내용 숨김(마스크 효과)*/

    position: relative;
} 
.icon {     /*리스트 안의 이미지/영상 아이콘*/
    position: absolute;
    top: 10px; left: 20px;
}
.thumb, .video {     /*리스트 안 이미지,영상*/
    width: 100%; display: block; 
    transition: 0.3s;
} 
/* 이미지(.thumb)에 닿으면, 5% 확대 */
.thumb:hover {
    transform: scale(1.05);
}

.map {    /*구글지도*/
    width: 100%;  height: 400px;
    margin-top: 1em; margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#weather {    /*날씨 정보 바로가기*/
    background: #FF9B17;
    color: #fff; text-decoration: none;
    padding: 0.5em;
    border-radius: 5px;
    transition: 0.3s;
    margin: 2em 0;
    display: inline-block;
}

#weather:hover {
    background: #BE3D2A;
}


/* 푸터(꼬릿말) 영역----------------- */
#footer {
    background-color:#b9ac9b;
    padding: 2em;
    text-align: center;
    color: #555;
    line-height: 1.5em;
}



/* 태블릿화면(850px 이하) 스타일 */
@media screen and (max-width:850px) {
    .listBox {
        grid-template-columns: repeat(2,1fr);
    }
}

/* 스마트폰화면(450px 이하) 스타일 */
@media screen and (max-width:450px) {
    .listBox {     /*리스트 개수 바꾸기*/
        grid-template-columns: 100%;
    }

    #header > h1 {    /*타이틀 크기 바꾸기*/
        font-size: 3em;
    }

    #menu {    /*메뉴를 아래 방향으로 배치하기*/
        display: block;
    }

    #navi {     /*내비게이션의 세로폭 자동으로 늘이기*/
        height: auto;
    }
}

